#bo{
  font-family: Montserrat;
  color: #353E6C;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*
#tete{
  background-color: gray;
  height: 6em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .1);
} */

#navi{
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: large;
  margin-left: 4em;
  margin-top: 0.5em;
}

p{
font-style: normal;
font-weight: 500;
}

.boite{
filter: drop-shadow(0px 15px 40px rgba(222, 222, 222, 0.1));
border-radius: 30px;
background-color:yellow;
padding: 2em;
margin: 1em;
justify-content: center;
align-items: center;
text-align: center;
}
#dash{
  text-align: center;
  margin-top: -1em;
}

#dashboard{
  display: flex;
  flex-direction: row;
 
  /*flex-wrap: wrap; */
}


@media (max-width: 800px) {
  #dashboard {
    flex-direction: column;
  }
  #infosDernierFilmAdd{
    display: block;
  }
  #dernierFilmAdd{
    display: block;
  }
  #favoris_note{
    display: block;
  }
  #favoris_note_affiche{
    display: block;
  }
}

#partieGauche{
  display: flex;
  flex-direction: column;
  width: 35%;
}
#partieGauche article{
  width: 20em;
}
#affiches{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#barreRecherche{
  background: #F4F5F7;
border-radius: 30px;
border: none;
height: 3em;
margin-bottom: 1em;
}

#mesFavoris .poster{
  height: 15em;
}
#mesFavoris button{
  background-color: white;
  border:none;
}

#notesParGenre img{
  width: 15em;
}

#dernierFilmAdd{
  width: 80%;
}

#dernierFilmAdd h1 {
font-style: italic;
/*font-size: 72px;*/
letter-spacing: 0.5px;
display: flex;
flex-direction: column;
align-items: center;
}

#infosDernierFilmAdd{
  display: flex;
  flex-direction: row;
}

#infosFilm{
/*font-size: 22px;*/
width: 60%;
}

#infosFilm h1{
  font-style: italic;
  font-weight: 275;
  /*font-size: 72px;*/
  letter-spacing: 0.5px;
}

#infosFilm h2{
  font-style: normal;
  font-weight: bold;
  /*font-size: 48px;*/
}

#infosFilm h3 span{
  text-decoration: underline;
}

#favoris_note{
  display: flex;
  flex-direction: row;
}

#favoris_note_affiche{
  display: flex;
  flex-direction: column;
}

#favoris h2{
  font-style: normal;
font-weight: bold;
/*font-size: 20px;*/
}

#favoris, #note{
  width: 20%;
}


#affiche{
  align-items: center;
  justify-content: center;
  margin-left: 2em;
}

#affiche img{
  width: 25em;
}
