.search-container {
  margin: 40px 0;
}
  .searchbox {
      width: 20%;
      position: relative;
      margin-left: 5em;
  }
    
    .typeahead {
      width: 100%; 
      background: none;
      border-bottom: solid 1px white;
    }
      .form-control {
        animation: fadein ease-in 0.5s;
        border: none;
      }

.tt-dropdown-menu {
  animation: fadein ease-out 0.5s;
  min-width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  color: lightGrey;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;

    }
    .form-control {
        animation: fadein ease-in 0.5s;
        border: none;
      }
  
